<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.8" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.1.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="System.Data.HashFunction.Core" version="1.8.2.2" targetFramework="net45" />
  <package id="System.Data.HashFunction.Interfaces" version="1.0.0.2" targetFramework="net45" />
  <package id="System.Data.HashFunction.xxHash" version="1.8.2.2" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
</packages>