/src/PatchKit.sln.DotSettings.user
/src/PatchKit.userprefs
/src/.vs/
/src/bin/
/src/obj/
/src/packages/
/src/PatchKit.API/bin/
/src/PatchKit.API/obj/
/src/PatchKit.API.Tests/bin/
/src/PatchKit.API.Tests/obj/
/src/.idea.PatchKit/
/src/PatchKit.Async/bin/
/src/PatchKit.Async/obj/
/src/PatchKit.Async.Tests/bin/
/src/PatchKit.Async.Tests/obj/
