{
    "swagger": "2.0",
    "info": {
        "version": "1.0.1",
        "title": "PatchKit License Server API",
        "contact": {
            "name": "API Support",
            "url": "http://patchkit.net/contact",
            "email": "contact@patchkit.net"
        }
    },
    "host": "keys.patchkit.net",
    "basePath": "/v1",
    "paths": {
        "/keys": {
            "post": {
                "summary": "Creates keys",
                "description": "Creates a new set of keys. Each key will get an unique key string.",
                "tags": [
                    "Keys"
                ],
                "consumes": [
                    "www/form-data"
                ],
                "parameters": [
                    {
                        "name": "app_secret",
                        "in": "formData",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "count",
                        "description": "Decides about how many keys should be created.",
                        "in": "formData",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "collection_id",
                        "in": "formData",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "token",
                        "description": "Authentication token",
                        "type": "string",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LicenseKey"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unknown error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/keys/{key}": {
            "get": {
                "summary": "Gets key info",
                "description": "Gets key info. Required providing an app secret. Will find only key that matches given app_secret.",
                "tags": [
                    "Keys"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "app_secret",
                        "in": "query",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LicenseKey"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Key not known",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unknown error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{app_secret}": {
            "delete": {
                "summary": "Deletes associated keys",
                "description": "Deletes all associated keys with given app.",
                "tags": [
                    "Keys"
                ],
                "parameters": [
                    {
                        "name": "app_secret",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "token",
                        "description": "Authentication token",
                        "type": "string",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Secret not known",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "default": {
                        "description": "Unknown error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "description": "Human-readable error message"
                }
            }
        },
        "LicenseKey": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "app_secret": {
                    "type": "string"
                },
                "key_secret": {
                    "type": "string"
                },
                "collection_id": {
                    "type": "integer"
                }
            },
            "example": {
                "key": "J93N-3JND-K2MB-DK24-SK3B",
                "app_secret": "39b290146bea6ce975c37cfc23",
                "key_secret": "39b290146bea6ce975c37cfc23"
            }
        }
    }
}